* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #45aaf2;
    font-size: 14px;
}
p {
    font-size: 14px;
}
.container {
    max-width: 1080px;
    width: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
}
footer {
    background: #252633;
    color: #fff;
    display: block;
    overflow: hidden;
    padding: 40px 0 0 0;
}
.footer-column {
    width: 23.5%;
    float: left;
    overflow: hidden;
    margin-right: 2%;
}
.footer-column:last-child {
    margin-right: 0;
}
.copyright-text {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    overflow: hidden;
    border-top: 1px solid #ffffff31;
    max-width: 1080px;
    width: 80%;
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
}
.copyright-text p {
    color: #fff;
}
.footer-column h3 {
    color: #fff;
    padding-bottom: 15px;
}
.footer-column P {
    color: #fff;
}
.footer-column a {
    color: #fff;
}
.footer-column img {
    max-width: 130px;
    filter: invert(1);
    margin-bottom: 15px;
}
header {
    padding: 20px 0;
}
header .logo {
    width: 30%;
    float: left;
}
header .logo img {
    max-width: 130px;
}
header nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}
header nav ul li {
    display: inline-block;
    margin-right: 15px;
}
header nav ul li:last-child {
    margin-right: 0;
}
header nav ul li a {
    color: #000;
    font-size: 16px;
}